{% extends "guest.html" %}
{% block content %}

  <h1>Beccy & Will's Wedding</h1>

      <h2>Timings</h2>

      <table>
          <tr>
              <th>1.30pm</th>
              <th>Arrival</th>
          </tr>
          <tr>
              <th>2.00pm</th>
              <th>Ceremony in the Orchard</th>
          </tr>
          <tr>
              <th>2.30pm</th>
              <th>Drinks & canapés</th>
          </tr>
          <tr>
              <th>4.30pm</th>
              <th>Dinner</th>
          </tr>
          <tr>
              <th>8.30pm</th>
              <th>Dancing begins</th>
          </tr>
          <tr>
              <th>Midnight</th>
              <th>Carriages</th>
          </tr>

      </table>

      <h2>Directions</h2>

          <p>Childerley is a fifteen minute drive from the centre of Cambridge. <a
          href="https://www.panthertaxis.co.uk/"><u>Panther Taxis</u></a>
          and <a href="https://www.uber.com/gb/en/"><u>Uber</u></a> both serve the area.
          The wedding weekend coincides with the University of Cambridge's graduation 
          ceremonies, so we recommend booking a taxi for your return journey in 
          advance.</p>


          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.403241112195!2d-0.019701258295707857!3d52.2360589721048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4877d8899c7c562b%3A0x238abf817bec3464!2sChilderley!5e0!3m2!1sen!2suk!4v1739919894839!5m2!1sen!2suk"
            width="500" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy">
          </iframe>

          <p>There is plenty of parking available on-site. The site can be
          accessed from the A428 / St Neots Road between Caldecote and Bourn.</p>

      <h2>Places to stay</h2>
      
      <ul>
          <li><a href="https://www.madingleyhall.co.uk/accommodation"><u>Madingley Hall</u></a></li>
          <li><a href="https://www.rectoryfarm.net/rooms-old/"><u>Rectory Farm</u></a></li>
          <li><a href="https://www.thevarsityhotel.co.uk/"><u>The Varsity Hotel</u></a></li>
      </ul>

      <h2>Gift registry</h2>

          <p>We are grateful for your presence on our special day and do not need
          gifts. However, for those who insist on making a gift, we will be splitting
          gifts equally between <a href="https://www.gov.uk/government/news/family-repeatedly-benefitted-from-mismanaged-captain-tom-foundation-investigation-finds">the
          Captain Tom Foundation</a> and our honeymoon, a trip by railway to Italy in 
          the spirit of <a href="https://en.wikipedia.org/wiki/Grand_Tour"><u>the Grand
          Tour</u></a>.</p>

      <h2>About Childerley</h2>

          <p>Childerley Hall is a <a href="https://historicengland.org.uk/listing/the-list/list-entry/1000614?section=official-list-entry">
          <u>Grade II listed country house</u></a> built in the late 16th century for 
          the fourth Sir John Cutts. The surviving wing contains the King Charles
          Chamber, named after Charles I who stayed there after his
          arrest by Parliament forces at the apotheosis of the First
          English Civil War. For further reading on the period, Beccy’s
          undergraduate dissertation (2012) can be provided on request.</p>

{% endblock %}


